@charset "utf-8";
/*

  Dating Website
   Author: Collin Woodruff
   Date: 4/29/2020

   Filename: homeStyles.css

*/


/* HTML and Body Styles */

/* HTML and Body Styles */


html {
    /*background: url('/328X2/dating3/images/Obeagle/doggoOne.jpg') no-repeat center center fixed;/*https://www.lonelyplanet.com/usa/rocky-mountains*/
    background-size: cover;
}

body {
    padding-top: 70px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
}


h3 {
    text-align: center;
}

legend {
    text-align: center;
    font-size: 2.5vmin;
}

p {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

img {
    padding-top: 60px;
    width: 125%; /* you can use % or px */
    height: auto;
}

.button {
    background-color: lightsalmon;
    text-decoration-color: black;
    width: 12em;
    height: 4em;
}

.button2 {
    border-radius: 12px;
}

button:hover {
    background-color: orange;
    text-decoration-color: black;
}

.err {
    color: darkred;
    padding-left: 1.3em;
    visibility: visible;
}

.checkboxes {
    text-align:center;
}

.checkboxes input{
    margin: 0px 0px 0px 0px;
}

.checkboxes label{
    margin: 0px 20px 0px 3px;
}